.basic-chart {
	display: inline-block;
	float: left;
}

.chart {
	display: inline-block;
	float: left;
	width: 400px;
}

li {
	list-style-type: none;
	font-size: 16px;
}
li > span {
	position: relative;
	display: inline-block;
	height: 6px;
	width: 6px;
	border-radius: 1.5px;
	margin: 5px;
}

label {
	display: inline-block;
	margin-top: auto;
}

canvas, label {
	border: 0px solid #999;
}

.title {
	display: block;
}